@using DHA.DAL.CV.Model
@model List<SkillStatM>;

<h1>Mes Compétences</h1>
<br />

@{
    int __noLigne = 0;
    string __strHeading;
    string __strCollapse, __strCollapse2;
}

<div class="accordion accordion-flush" id="accordionExample">
    @foreach (SkillStatM __SkillStatM in Model)
    {

        __noLigne = __noLigne + 1;
        __strHeading = $"heading{__noLigne}";
        __strCollapse = $"collaspe{__noLigne}";
        __strCollapse2 = $"#collaspe{__noLigne}";

        <div class="accordion-item">
            <h2 class="accordion-header" id="@__strHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@__strCollapse2" aria-expanded="true" aria-controls="@__strCollapse">
                    <b>
                        @__SkillStatM.skill
                    </b>
                    &nbsp;-&nbsp;
                    @__SkillStatM.skilltype
                    &nbsp;-&nbsp;
                    <i>
                            @__SkillStatM.skilldurationToString
                    </i>              
                </button>
            </h2>
            <div id="@__strCollapse" class="accordion-collapse collapse" aria-labelledby="@__strHeading" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <br />
                    <u>Expériences :</u>&nbsp;
                    <br /><br />
                    @foreach (string __strInfo in __SkillStatM.associatedexperience)
                    {
                        @__strInfo
                        <br />
                    }
                </div>
            </div>
        </div>



    }
</div>